@media print {
    body {
        font-size: 11pt;
    }
    header,
    nav,
    footer {
        display: none;
    }
    .btonWa{
        display: none;
    }
    aside{
        display: none;
    }
}