* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* controla si el usuario puede seleccionar el texto */
    /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}


/*Adjuntar imagen desde repositorio*/

@font-face {
    font-family: Bodoni;
    src: url(/webFonts/Bodoni_Moda/BodoniModa-VariableFont_opsz\,wght.ttf);
    /*Adjuntar imagen desde url googleFonts*/
    font-family: "Zen Antique Soft", serif;
}


/*-----------------BODY------------------*/

body {
    background-color: #fff7ddbd;
    color: black;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin: 0;
    margin-bottom: 40px;
}

main {
    max-width: 1200px;
    /* margin: 0 auto; */
    background-color: #fff7ddbd;
    clear: both;
}


/*PARRÁFOS*/

p {
    font-size: 1em;
    color: black;
    text-align: justify;
    line-height: 1.5em;
    margin-bottom: 2em;
}


/*Ditancia entre el header y el body*/

.menu {
    height: 100px;
}


/*------ARTÍCULOS-INDEX-----*/

.articleIndex {
    float: left;
    width: 50%;
    padding-left: 0;
}

.articleIndex2 {
    float: left;
    width: 50%;
    padding-left: 35px;
}

h1,
h2,
h3,
h4,
h5 {
    color: #2a6932;
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
}


/*-----------------Header and Nav-----------------*/


/*-------Logo------------*/

.logo {
    margin-top: 10px;
    width: 100px;
    margin-left: 100px;
    position: fixed;
    z-index: 1;
    /* //TODOtransition: */
}

header {
    position: fixed;
    width: 100%;
    height: 100px;
    overflow: hidden;
    background: linear-gradient(to top, #ccc, #96cf8e);
}

nav ul {
    float: left;
    list-style: none;
    text-align: right;
    margin-right: 0%;
    margin-left: 300px;
}

nav li {
    display: inline-block;
    margin-right: 0%;
}

nav li a {
    display: inline-block;
    padding: 35px 20px;
    font-size: 1.5em;
    text-decoration: none;
    line-height: 1.5em;
}

header nav ul li a:hover {
    height: 100px;
    display: inline-block;
    background-color: #2a6932;
}


/*Imagen Palmerass Indice*/

#palmeras {
    width: 100%;
    padding: 30px;
    text-align: center;
}


/*---------FOOTER-----------------*/

footer {
    background: linear-gradient(to top, #96cf8e, #ccc);
    height: 150px;
    margin: 0, auto;
    margin-top: 50px;
    overflow: hidden;
    width: 100%;
    padding-top: 1em;
    text-align: justify;
}

.foo {
    float: left;
    width: 33.3%;
    text-align: center;
    color: white;
    display: block;
}

.foo p {
    padding-left: 15px;
    color: white;
}

.foo address {
    text-transform: uppercase;
}

.foo address a {
    list-style: none;
    color: black;
}

.rss {
    color: white;
    text-transform: bold;
    font-size: 20px;
    text-align: center;
    padding: auto;
    line-height: 1em;
    margin-bottom: 0.5em;
}

.iconos {
    color: black;
    font-size: 50px;
    text-align: center;
}


/*-------BLOG---------*/

.cuerpo {
    max-width: 100%;
    margin: 0, auto;
    display: block;
}

main article {
    float: right;
    width: 70%;
    padding-left: 30px;
}

iframe {
    width: 100%;
    height: 400px;
    margin: 20px, auto;
    padding: 15px, auto;
}


/*---------ASIDE-BLOG-----------------*/

.menuAside {
    float: left;
    width: 30%;
    float: left;
}

aside {
    margin-top: 25px;
    display: block;
    background-color: rgb(42, 105, 50, 0.6);
    opacity: 0.7;
    padding: 30px;
}

aside ul li {
    text-decoration: none;
    color: black;
    list-style: none;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 1.2em;
}

aside ul li:hover {
    color: black;
}


/*-----------TABLA/SERVICIOS--------*/

table {
    caption-side: bottom;
    table-layout: auto;
    width: 100%;
    text-align: center;
    margin-left: auto;
    border-collapse: collapse;
    margin-bottom: 500px;
}

tr,
td,
th {
    border: 1px solid grey;
}

tr th {
    color: black;
    font-weight: bolder;
    font-size: 20px;
}

tr:nth-child(odd) {
    background-color: #eee;
    color: #2a6932;
    font-weight: bold;
}

tr:nth-child(even) {
    color: #96cf8e;
    font-weight: bold;
}


/*------------------------LINKS----------------------------*/

a:link {
    color: rgb(70, 21, 21);
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    background-color: blueviolet;
}

a:focus {
    color: goldenrod;
}


/*---------------CONTACTO/FORMULARIO--------------------*/

form {
    width: 100%;
    margin-top: 200px;
    margin-bottom: 150px;
    margin-left: 700px;
    padding-top: 30px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lavender;
    font-family: "Zen Antique Soft", serif;
}

fieldset {
    border: none;
}

legend {
    padding-bottom: 10px;
    padding-left: 20px;
    font-weight: bolder;
}

input,
textarea {
    box-sizing: border-box;
    width: 95%;
    height: 30px;
    margin: 5px 15px;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1em;
    border: none;
    border-radius: 5px;
    font-family: "Zen Antique Soft", serif;
}

textarea {
    height: 100px;
}

button {
    margin-top: 10px;
    margin-left: 200px;
    padding: 10px 45px 10px 45px;
    border: none;
    background: rgb(100, 200, 255);
    cursor: pointer;
    display: block;
    font-size: 1em;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.politica {
    padding-left: 15px;
    font-size: 20px;
}

.checkbox {
    vertical-align: middle;
    width: 5%;
}


/*BOTON WHATSAPP*/

.btonWa {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    color: black;
    border-radius: 50px;
    text-align: center;
    font-size: 50px;
    z-index: 100;
    vertical-align: center;
}


/* --------------------------MEDIAS QUERIES max 1024--------------------------------------*/


/* FORMULARIO */

@media screen and (max-width: 1024px) {
    .form:after {
        margin-left: 50px;
    }
}


/* MAIN */

@media (max-width: 1024px) {
    main:after {
        max-width: 1024px;
    }
}


/* HEADER NAV */

@media (max-width: 1024px) {
    .logo {
        width: 80px;
        margin-top: 10px;
        margin-left: 10px;
        position: fixed;
        z-index: 1;
    }
    header {
        position: fixed;
        width: 100%;
        height: 100px;
        overflow: hidden;
        background: linear-gradient(to top, #ccc, #96cf8e);
    }
    nav ul {
        float: left;
        list-style: none;
        text-align: right;
        margin-right: 0%;
        margin-left: 150px;
    }
    nav li {
        display: inline-block;
        margin-right: 0%;
    }
    nav li a {
        display: inline-block;
        padding: 35px 20px;
        font-size: 1em;
        text-decoration: none;
        line-height: 1.5em;
    }
    header nav ul li a:hover {
        height: 100px;
        display: inline-block;
        background-color: #2a6932;
    }
}


/* --------------------------MEDIA QUERIES MAX 480px --------------------------*/


/* FOMRULARIO */

@media screen and (max-width: 480px) {
    .form:after {
        margin-left: 20px;
    }
}


/* MAIN */

@media (max-width: 480px) {
    main:after {
        max-width: 480px;
    }
}


/* HEADER NAV */

@media (max-width: 480px) {
    .logo {
        width: 50px;
        margin-top: 10px;
        margin-left: 15px;
        position: fixed;
        z-index: 1;
    }
    header {
        position: fixed;
        width: 100%;
        height: 100px;
        overflow: hidden;
        background: linear-gradient(to top, #ccc, #96cf8e);
    }
    nav ul {
        height: 50px;
        float: left;
        list-style: none;
        text-align: right;
        margin-right: 0%;
        margin-left: 20px;
    }
    nav li {
        display: inline-block;
        margin-right: 0%;
    }
    nav li a {
        display: inline-block;
        padding-top: 60px;
        padding-left: 5px;
        font-size: 1em;
        text-decoration: none;
        height: 50px;
    }
    header nav ul li a:hover {
        padding: 10px;
        background-color: #2a6932;
    }
}