* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* controla si el usuario puede seleccionar el texto */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*Adjuntar imagen desde repositorio*/

@font-face {
    font-family: Bodoni;
    src: url(/webFonts/Bodoni_Moda/BodoniModa-VariableFont_opsz\,wght.ttf);
    /*Adjuntar imagen desde url googleFonts*/
    font-family: "Zen Antique Soft", serif;
}


/*PARRÁFOS*/

p {
    font-size: 1em;
    color: black;
    text-align: justify;
    line-height: 1.5em;
    margin-bottom: 2em;
}


/*-----------------BODY------------------*/

body {
    background-color: #fff7ddbd;
    color: black;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin: 0;
    /* height: 100vh; */
}

main {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff7ddbd;
    clear: both;
}


/*Ditancia entre el header y el body*/

.menu {
    height: 100px;
}


/*------ARTÍCULOS-INDEX-----*/

.articleIndex {
    float: left;
    width: 50%;
}

h1,
h2,
h3,
h4,
h5 {
    color: #2a6932;
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
}


/*-----------------Header and Nav-----------------*/

header {
    background-color: #96cf8e;
    position: fixed;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

nav ul {
    float: right;
    list-style: none;
    text-align: right;
}

nav li {
    display: inline-block;
}

nav li a {
    display: inline-block;
    padding: 35px 20px;
    font-size: 1.5em;
    text-decoration: none;
    line-height: 1.5em;
}

header nav ul li a:hover {
    list-style: none;
    display: inline-block;
    background-color: #2a6932;
    list-style: none;
}


/*-------Logo------------*/

header img {
    width: 100px;
}


/*Imagen Palmerass Indice*/

#palmeras {
    width: 100%;
    padding: 30px;
    text-align: center;
}


/*---------FOOTER-----------------*/

footer {
    background-color: #2a6932;
    height: 100px;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 0;
    clear: both;
}

.foo {
    float: left;
    width: 33.3%;
    text-align: center;
    color: white;
    display: block;
}

.foo p {
    padding-left: 15px;
    color: white;
}

.foo address {
    text-transform: uppercase;
}

.foo address a {
    list-style: none;
    color: black;
}

.rss {
    color: white;
    text-transform: bold;
    font-size: 20px;
    text-align: center;
    padding: auto;
    line-height: 1em;
    margin-bottom: 0.5em;
}

.iconos {
    color: black;
    font-size: 50px;
    text-align: center;
}


/*-------BLOG---------*/

.cuerpo {
    max-width: 100%;
    margin: 0, auto;
    display: block;
}

main article {
    float: right;
    width: 70%;
    padding-left: 10px;
}

iframe {
    width: 100%;
    height: 400px;
    margin: 20px, auto;
    padding: 15px, auto;
}


/*---------ASIDE-BLOG-----------------*/

.menuAside {
    float: left;
    width: 30%;
    float: left;
}

aside {
    margin-top: 25px;
    display: block;
    background-color: #2a6932;
    opacity: 0.7;
    padding: 30px;
}

aside ul li {
    text-decoration: none;
    color: black;
    list-style: none;
    margin-bottom: 16px;
}

aside ul li:hover {
    color: #425067;
}


/*-----------TABLA/SERVICIOS--------*/


/*Para dejar el foter bajo*/


/* .divTablaServicios { height: 80%; } */

table {
    caption-side: bottom;
    table-layout: auto;
    width: 100%;
    text-align: center;
    margin-left: auto;
    border-collapse: collapse;
}

tr,
td,
th {
    border: 1px solid grey;
}

tr th {
    color: black;
    font-weight: bolder;
    font-size: 20px;
}

tr:nth-child(odd) {
    background-color: #eee;
    color: #2a6932;
    font-weight: bold;
}

tr:nth-child(even) {
    color: #96cf8e;
    font-weight: bold;
}


/*------------------------LINKS----------------------------*/

a:link {
    color: rgb(70, 21, 21);
}

a:visited {
    color: #4c6f51;
}

a:hover {
    color: black;
}

a:active {
    background-color: blueviolet;
}

a:focus {
    color: goldenrod;
}


/*---------------CONTACTO/FORMULARIO--------------------*/


/* .formulario { height: 170px; } */

form {
    width: 100%;
    padding-top: 50px;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lavender;
    font-family: "Zen Antique Soft", serif;
}

fieldset {
    border: none;
}

legend {
    padding-bottom: 10px;
    padding-left: 20px;
    font-weight: bolder;
}

form input,
form textarea {
    box-sizing: border-box;
    width: 95%;
    height: 30px;
    margin: 5px 15px;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1em;
    border: none;
    border-radius: 5px;
    font-family: "Zen Antique Soft", serif;
}

form textarea {
    height: 100px;
}

form button {
    padding: 0.5em 1em;
    border: none;
    background: rgb(100, 200, 255);
    cursor: pointer;
}

/*BOTON WHATSAPP*/

.btonWa {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background-color: green;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}